<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AutoService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="AutoService.Properties.Settings.AutoSerciceConnectionString"
            connectionString="Data Source=DESKTOP-MO5HLC4\SQLEXPRESS;Initial Catalog=AutoSercice;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <AutoService.Properties.Settings>
            <setting name="KullaniciAdi" serializeAs="String">
                <value>admin</value>
            </setting>
            <setting name="Sifre" serializeAs="String">
                <value />
            </setting>
            <setting name="BeniHatirla" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="conn" serializeAs="String">
                <value>Data Source=DESKTOP-MO5HLC4\SQLEXPRESS; Initial Catalog = AutoSercice; Integrated Security=True;</value>
            </setting>
            <setting name="SecretKey" serializeAs="String">
                <value>Gorkem</value>
            </setting>
        </AutoService.Properties.Settings>
    </userSettings>
</configuration>